{% extends "layout.twig" %}

{% block content %}

<div class="page--home">
	<div class="site-container  site-canvas">

		<div class="sidebar">
			{% include "includes/header.twig" %}
		</div>

		{{widget('gallery', 'home-gallery', {
		'showTitle': true,
		'showDescription': false,
		'images':[
			{'url':asset('/images/gallery/3.jpg'),'title':'First image title'},
			{'url':asset('/images/gallery/2.jpg')},
			{'url':asset('/images/gallery/7.jpg')},
			{'url':asset('/images/gallery/6.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/1.jpg')},
			{'url':asset('/images/gallery/4.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/5.jpg')}
		]})|raw}}

		<div class="main">

			<!-- <div class="intro-wrapper">
				{{widget('content', 'text1', { content: '
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing.</h2>
					<p>Integer sit amet aliquam odio. Duis non lorem ullamcorper, facilisis esta.</p>
				'})|raw}}
			</div> -->

			<div class="zone-content">
				
			</div>

		</div>

	</div>
</div>

{% endblock %}

{% block scripts %}

	<!-- imagesLoaded -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- Masonry -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>

		// Fixed position and fade out when scrolling
		var scrollEffect = function (elem) {

			// How high the window is
			var window_height = window.innerHeight;

			// Apply styles as user scrolls
			elem.setAttribute(
				"style", "opacity:" + Math.max(0, parseFloat(1-(1.8/window_height*window.pageYOffset)).toFixed(2)) + "; -webkit-transform: translateY(" + window.pageYOffset + "px)"
			);

		};

		var elem = document.querySelector('.content-inner-wrap');

		window.onscroll = function(e) {
			scrollEffect(elem);
		};

		// Masonry effect
		var container = document.querySelector('.gallery-list');

		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.gallery-item'
			});
		});

	</script>

{% endblock %}
