{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container home-page">

	<!-- HEADER -->
	{% include "includes/header.twig" %}

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<!-- GALLERY -->
		{{widget('gallery', 'home-gallery', {
		'showTitle': true,
		'showDescription': false,
		'images':[
			{'url':asset('/images/gallery/3.jpg'),'title':'First image title'},
			{'url':asset('/images/gallery/2.jpg')},
			{'url':asset('/images/gallery/3.jpg')},
			{'url':asset('/images/gallery/6.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/7.jpg')},
			{'url':asset('/images/gallery/1.jpg')},
			{'url':asset('/images/gallery/8.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/9.jpg')},
			{'url':asset('/images/gallery/4.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/5.jpg')}
		]})|raw}}

	</div>
	<!-- END MAIN SECTION -->

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

<!-- MASONRY GALLERY -->

{% endblock %}
