{% extends "layout.twig" %}

{% block content %}

<div class="page--home">
	<div class="site-container">

		{% include "includes/header.twig" %}

		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/feature-image.jpg'),
		  'positionTopPercentage': '100',
		  'showBtn': true,
		  'buttonText': 'Button',
		  'action': 'external',
		  'url': 'http://docs.basekit.com',
		  'target': '_blank'
		})|raw}}

		<div class="main">

			<div class="site-content">
				<div class="zone-content">
					{{zone('main')|raw}}
				</div>
			</div>

		</div>

		<div class="footer-image">

			{{widget('image', 'footer-image', {
			  'src': asset('/images/cookie-image.jpg')
			})|raw}}

			<div class="footer-image-text">
				{{widget('content', 'footer-image-text', { content: '
					<h1>The finest baked goods in town!</h1>
				'})|raw}}
			</div>
		</div>

		{% include "includes/footer.twig" %}

	</div>
</div>

{% endblock %}

{% block scripts %}

	<!-- imagesLoaded -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- Masonry -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>

		// Fixed position and fade out when scrolling
		var scrollEffect = function (elem) {

			// How high the window is
			var window_height = window.innerHeight;

			// Apply styles as user scrolls
			elem.setAttribute(
				"style", "opacity:" + Math.max(0, parseFloat(1-(1.8/window_height*window.pageYOffset)).toFixed(2)) + "; -webkit-transform: translateY(" + window.pageYOffset + "px)"
			);

		};

		var elem = document.querySelector('.content-inner-wrap');

		window.onscroll = function(e) {
			scrollEffect(elem);
		};

		// Masonry effect
		var container = document.querySelector('.gallery-list');

		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.gallery-item'
			});
		});

	</script>

{% endblock %}
