<header class="template-header">
		<div class="flex-item">
			{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile", "showTplWidget":"0"})|raw}}
		</div>
		<div class="flex-item">
			<nav class="template-navigation">
				{{widget('extendednavigation', 'header-nav', {"align":"left"})|raw}}
			</nav>
		</div>
		<footer class="template-footer">
			<div class="footer-info">
				{{widget('profile', 'header-social', { 'profileType':'socialicons'})|raw}}
			</div>
		</footer>
</header>

